/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*------------------MY CSS----------------------*/


body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    /* 2 (16px) = 32px */
    margin-bottom: 20px;
    line-height: 14vw;
}

h2 {
    font-size: 1.75rem;
    margin: 20px 0;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

p {
    line-height: 1.5;
}



/* ----------- Header ------------------*/



header {
    background-color: rgb(34, 34, 34);
	display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
	padding: 10px;
}


.banner {
    background-repeat: no-repeat;
	background-color: rgb(198, 141, 0);
	width: 100%;

	}

	.banner img {
	position: initial ;
	width: min-content;
	float: left;
	}


nav {
	width: 100%;
	}

	nav ul li a {
    display: block;
    color:rgb(198, 141, 0);
    text-decoration: none;
    padding:  18px 0;
	}

	nav ul li a:hover {
    background-color: rgb(198, 141, 0);
	color: rgb(10, 10, 10);
	}


.search-container {
	width: 100%;
	height: 4vh;
	display: flex;
	}

	#search-box {
		width: 90%;
	}

	#search-button {
		background:  rgb(34, 34, 34);
		color: rgb(198, 141, 0);
		border-color:rgb(198, 141, 0);
		/* width: 20px; */
	}

	.fa-search {
			background-color:  rgb(34, 34, 34);
			color: rgb(198, 141, 0);
			border: none;
			border-color: rgb(198, 141, 0);
			cursor: pointer;
			margin: 0;
			font-size: 15px;
            padding: 0px 4px;
	}


/* ----------- Hero Message And Banner ------------------*/

section .hero-banner {
    color: white;
    background-image: url("../images/main-banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    /*height: 50vh;*/
    padding: 40px 0px;
    width: 100%;
}

.title-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 6vh 2vw;

}

section .title-overlay p {
    margin-bottom: 40px;
    font-size: 0.6rem;
}

.hero-btn {
    background-color: rgb(198, 141, 0);
    color: black;
    text-decoration: none;
    padding: 3vh 3vh;
    border-radius: 1px;
}

/*----------------Wrapper----------------*/

.wrapper {
    border: 10px solid white;
    
}


/*-------About Us--------------*/

#about {
    background-color: #ffe6ac;
    padding: 10px;
    padding-bottom: 20px;
}

#about p {
    font-size: 0.7rem;
}

/*-------Our Services--------------*/

.services {
    background-color: #ffe6ac;
    padding-bottom: 5vh;
    margin-bottom: 1vh;
}

.services h3 {
    margin: 1vh;
    margin-top: 2vh;
}


.services p {
    margin: 1vh;
    font-size: 0.7rem;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.services-btn {
    margin: 1vh;
    background-color: #222222;
    color: white;
    text-decoration: none;
    padding: 3vh 3vh;
    border-radius: 1px;
}

/* -------- Our Vision ---------- */

section .ourvision-banner {
    color: white;
    background-image: url("../images/vision.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 0px 0px;
    width: 100%;
}

.ourvision-overlay {
    width: 100%;
    padding: 6vh 2vw;

}

section .ourvision-overlay p {
    margin-bottom: 40px;
    font-size: 0.6rem;
}

.learnmore-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(198, 141, 0);
    color: white;
    text-decoration: none;
    padding: 3vh 3vh;
    border-radius: 1px;
    
    
}

/* -------- Our Team ----------- */

.our-team {
    background-color: #ffe6ac;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}

.our-team h3 {
    margin: 1vh;
}
.our-team h4 {
    font-weight: bold;
    font-size: 0.75rem;
    position: relative;
    margin: 1vh;
}

.our-team h4::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(198, 141, 0);
    margin-top: 5px;
}

.our-team p {
    font-size: 0.7rem;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 1vh;
}

/*----------------- Contact Us ---------------------*/

form input, form textarea {
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #666666;
    border-radius: 5px;
}

.contact-btn {
    display: inline-block;
    background-color: #222222;
    color: rgb(198, 141, 0);
    text-decoration: none;
    padding: 8px 8px;
    margin-top: 1vh;
    margin-bottom: 2vh;

}

/* ----------------------- Hours of Operartion --------------------- */

.operation-hours {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

.operation-hours th, .operation-hours td {
    border: 1px solid black;
    text-align: center; 
    padding: 20px; 
}

.operation-hours th {
    background-color: #ffe6ac;
}

.operation-hours tbody tr:nth-child(1) td,
.operation-hours tbody tr:nth-child(2) td {
    text-align: left;
}


/* ---------- Location -------------- */
iframe {
    width: 100%;
    height: 400px;
    gap: 10px;

}

/* ----------- Footer -------------*/

footer {
    background-color: rgb(34, 34, 34);
    color: rgb(198, 141, 0);
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 10px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/*---------------- Tablet Style -------------------------*/

@media screen and (min-width: 720px) {

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }
    
    nav ul li {
        width: 100%
    }
    
    .story-section .content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

.story-section .content img {
    width: 300px;
}

/*---------------- Tablet Style Gallery-------------------------*/


    .gallery-section .images {
        grid-template-columns: repeat(3, 1fr);
    
    }

    .gallery-section .images img:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        /* initial reset values to their default values */
    }

    .gallery-section .images img:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        /* initial reset values to their default values */
    }

    .gallery-section .images img:nth-child(3) {
        grid-column: initial;
        grid-row: initial;
        /* initial reset values to their default values */
    }
    
    footer {
        background-color: #333;
        color: white;
        padding: 30px 0;
    }

}


/* ------------- DESKTOP STYLE ------------ */

@media screen and (min-width: 1080px) {

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.0rem;
    }

    h3{
        font-size: 1.75rem;
    }


    .values-section {
        flex-direction: row;
    }

    .values-section .values .value {
        flex-direction: column;
    }

    /* ------------- DESKTOP STYLE: Gallery ------------ */


    .gallery-section .images {
        grid-template-columns: repeat (4, 1fr);
    
    }
    

    .gallery-section .images {
        grid-template-columns: repeat(3, 1fr);
    
    }

    .gallery-section .images img:nth-child(1) {
        grid-column: initial;
        grid-row: initial;
        /* initial reset values to their default values */
    }

    .gallery-section .images img:nth-child(2) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        /* initial reset values to their default values */
    }

    .gallery-section .images img:nth-child(3) {
        grid-column: initial;
        grid-row: initial;
        /* order: -1; /*
        /* initial reset values to their default values */
    }
    
    .gallery-section .images img:nth-child(4) {
        order:  5;
        /* positive # as well as negative #
        order: -1; move image to the left
        order: 1; move image to the right
        the larger the value the further it will be placed to the right; while a smaller value places it further to the left */
    }
    
    
}
    